.carousel-flex{
    display: flex;
    justify-content: center;
}

.carousel-container{
    width: 75%;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.49);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-top: 2%;
    margin-bottom: 2.5%;
}

.limit-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media only screen and (max-width: 1060px){
    .carousel-container{
        width: 90%;
    }

    .carousel-details-container{
        left: 30vw !important;
    }
    
}
@media only screen and (min-width: 800px){
        
    .carousel-img{
        max-width: 300px !important;
        min-width: 300px !important;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        max-height: 300px !important;
        min-height: 300px !important;
        object-fit: cover !important;
    }
    
    .carousel-img-container{
        height: 300px;
        width: 300px;
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }
}

@media only screen and (max-width: 800px){
    .carousel-container{
        width: 65%;
        
    }
    .carousel-details-container{
        font-size: 1.1rem;
        color: rgba(240, 240, 240, 0.979) !important; 
        left: 10% !important;
    }
    .profit{
        color: white !important;
        font-weight: 600;
        margin-left: 0 !important;
    }
}


.carousel-img{
    border-radius: 15px;
    max-width: 100% !important;
    min-width: 100% !important;
    max-height: 300px !important;
    min-height: 300px !important;
    object-fit: cover !important;
}

.carousel-details-container{
    bottom: 0;
    top: 0;
    left: 25vw;
}

.carousel-title{
}

.profit{
    font-size: 2rem;
    margin-left: 20%;
    margin-bottom: 3%;
}

