.product-page-container{
    padding-top: 75px;
}

@media only screen and (max-width: 1000px) {
    .product-page-container{
        max-width: 95%;
    }
    .product-page-card{
        max-height: 270px !important;
        min-height: 270px !important;
        max-width: 280px !important;
        min-width: 280px !important;
    }
    .product-page-image{
        max-height: 270px !important;
    }
    .product-page-title{
        font-size: 1.6rem;
    }
    .product-page-description, .end-date, .initial-price-container, .lates-price-container{
        font-size: 0.9rem !important;
    }
    .initial-price-container{
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 820px) {

    .product-page-card{
        max-height: 190px !important;
        min-height: 190px !important;
        max-width: 200px !important;
        min-width: 200px !important;
    }
    .product-page-image{
        max-height: 190px !important;
    }
    .product-page-title{
        font-size: 1.4rem ;
        padding-right: 0 !important;
    }
    .product-page-description{
        margin-top: 3%;
    }
    .prices-container{
        padding-right: 0;
    }
    .bid-button{
        padding-left: 0;
    }
    .title-size{
        font-size: 0.7rem;
    }
}
@media only screen and (max-width: 635px) {

    .product-page-description{
        font-size: 0.9rem;
    }
    .product-page-title-container{
        padding-left: 0;
    }
    .product-page-title{
        font-size: 1.2rem;
    }
    .end-date, .initial-price-container, .lates-price-container{
        font-size: 0.6rem !important;
    }
    .latest-price{
        font-size: 1.5rem !important;
    }
    .bid-button{
        justify-content: center !important;
        width: 90%;
    }
}
@media only screen and (max-width: 500px) {
    .product-page-card{
        max-height: 140px !important;
        min-height: 140px !important;
        max-width: 140px !important;
        min-width: 140px !important;
    }

    .product-page-description{
        font-size: 0.7rem !important;
    }
}

.product-page-details-container{
    margin-top: 5%;
}

.product-page-card{
    display: flex;
    justify-content: center;
    max-height: 370px;
    min-height: 370px;
    max-width: 380px;
    min-width: 380px;
    padding: 2px;
    box-shadow: rgba(4, 17, 29, 0.623) 0px 0px 8px 0px;
}

.product-page-image{
    object-fit: cover;
    max-height: 370px;
    height: 100%;
    width: 100%;
    border-radius: 1.5%;
}

.details-container{
    margin: 0 5%;
}

.end-date{
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.latest-price{
    font-size: 2rem;
    font-weight: 600;
    margin-left: 5px;
}

.initial-price{
    margin-left: 5px;
}

.initial-price-date{
    margin-left: 5px;
    color: rgb(116, 116, 116);
}

.bid-button{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 0;
    margin-bottom: 3%;
}

.bids-list-contianer{
    padding-top: 1%;
}
